.container {
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-top: 2rem;
}

audio {
  display: block;
  margin: 1rem auto;
}

.inputs {
  border: groove;
  background-image: url(./images/chrome1.jpg);
  padding: 1rem;
}

.complex-osc {
	border: groove;
	background-image: url(./images/chrome2.jpg);
  padding: 1rem;
}

.noise-source {
	border: groove;
	background-image: url(./images/chrome3.jpg);
  padding: 1em;
}

.feedback-controls {
	border: groove;
	background-image: url(./images/chrome4.jpg);
  padding: 1em;
}

.audio-controls {
	border: groove;
	background-image: url(./images/chrome5.jpg);
  padding: 1em;
}

.mod-title {
	font-family: futura;
}

#top-osc-row,
{
	padding-bottom: 2em;
}

#adsr {
	padding-top: 2em
}

#input-switch,
#mod-type,
#filter-switch

{
	width: 3em;
	height: 1em;
}

#am-mod-switch,
#fm-mod-switch

{
	width: 3em;
	height: 1em;
	padding-left: 0.5em;
}

#am-freq-dial,
#am-tune-dial,
#fm-freq-dial,
#fm-mod-index
{
	width: 4em;
	height: 4em;
}

#user-vol-slider,
#am-harm-slider,
#fm-harm-slider,
#noise-freq-slider,
#noise-depth-slider,
#cross-couple-slider,
#delay-depth-slider
{
	width: 5em;
	height: 1em;
}

#attack-slider, 
#decay-slider,
#sustain-slider,
#release-slider
{
	width: 1em;
	height: 5em;

}



#controls {
	padding-top: 2em;
	padding-left: 2em;
}

.active {
	border: 1px solid lime;
}

.potards {
	display: block;
	width: 200px;
	height: 30px;
	padding: 5px;
}


